/*menu*/

#menu ul{
      list-style-type: none;
      text-transform: uppercase;
}

#menu li {
      display: inline-block;
      background-color:aliceblue;
      padding: 10px;
      margin: 5px 5px;
}

#menu a:link , a:visited {
  color: black;
  text-decoration: none;
  
}


#menu_contato ul {
    list-style-type: none;
    text-transform: uppercase;
}

/*cadastro*/
.principal < .esquerda .direita {
  
}




.esquerda {
  float: left;
  width: 8%;
  border: double;
  margin: 1px;
  text-align: center;


}

.direita {
  float: left;
  width: 20%;
  margin: 2px;

  
}



/* Cadastro operadoras*/

.operador {
  float: left;
  width: 100px;
  
}


/*contatos*/

table#contato th {
  border: 1px solid;
  width: 10%; 
    
}

h1{
  margin-left: 20%; 
 
}

table#contato tr {
  margin: 5px;
}

/*botoes*/

nav#botoes a:link, a:visited  {
  color: black;
  text-decoration: none;
}

