/*menu*/

#menu ul{
      list-style-type: none;
      text-transform: uppercase;
}

#menu li {
      display: inline-block;
      background-color:aliceblue;
      padding: 10px;
      margin: 5px 5px;
}

#menu a:link , a:visited {
  color: black;
  text-decoration: none;
  
}


#menu_contato ul {
    list-style-type: none;
    text-transform: uppercase;
}

/*cadastro*/
.principal < .esquerda .direita {
  
}

#formato h2 {
  text-align: center;
}

#formato {
  position: relative;
  border: solid;
  margin: 5% 30%;
  width: 500px;
  
  
}

#cadastro {
  position: relative;
  width: 500px;
  margin-left: 20%;

}

.esquerda {
  float: left;
  width: 25%;
  border: double;
  margin: 1px;
  text-align: center;
  


}

.direita {
  float: left;
  width: 30%;
  margin: 2px;

  
}



/* Cadastro operadoras*/

#operador {
  margin: 2% 20%;
  width: 200px;

  
}


/*contatos*/

table#contato th {
  border: 1px solid;
  width: 10%; 
    
}

h1{
  margin-left: 20%; 
 
}

table#contato tr {
  margin: 5px;
}

/*botoes*/

nav#botoes a:link, a:visited  {
  color: black;
  text-decoration: none;
}

#botoes {
  margin: 10% 30%;
}

#botoes button:hover {
  background-color: #757474;
}

#botoes a:hover {
  color: white;
}


#alinhamento {

}

